<!doctype html>
<html>

<!-- Mirrored from www.lab.westilian.com/matmix-admin/list-view/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Jul 2021 11:25:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Components Mix Bootstarp 3 Admin Dashboard Template">
    <meta name="author" content="Westilian">
    @await Html.PartialAsync("_PanelLayoutCssPartial")

</head>
<body>
    <div class="page-container list-menu-view">

        <div class="left-aside desktop-view">
            <div class="aside-branding">
                <div class="text-center">
                    <a href="index-2.html" class="iconic-logo">
                        <img src="~/images/logo-large.png" class="rounded" alt="Responsive image" height: auto; .img-fluid. max-width: 100%;>
                    </a>
                </div>
                <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
                <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
            </div>

            <div class="left-navigation">
                <ul class="list-accordion">
                    @if (User.Identity.IsAuthenticated & User.IsInRole("Admin"))
                    {
                <li><a asp-action="Index" asp-controller="Admin" class="user-nav-label">Admin</a></li>
}
                    <li>
                        <a asp-action="Index" asp-controller="User" class="user-nav-label">Hesabım</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Announcements" class="waves-effect">Duyurular</a>
                        <ul>

                            @if (User.Identity.IsAuthenticated & User.IsInRole("Boss"))
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="Announcements" class="user-nav-label">Duyuru Panel</a>
                                </li>
                            }
                            <li>
                                <a asp-action="Index" asp-controller="Announcements" class="user-nav-label">Duyurular</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Calendar" class="ico-hammer-wrench">Takvim</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="ToDoList" class="ico-hammer-wrench">Yapılacaklar Listesi</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Notes" class="ico-hammer-wrench">Notlar</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Help" class="ico-hammer-wrench">Yardım</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <header class="top-bar">
                <div class="container-fluid top-nav">

                    <div class="row">
                        <div class="col-md-12 responsive-fix">
                            <div class="left">
                                <span class="leftbar-action-mobile waves-effect"><i class="fa fa-bars "></i></span>
                                <span class="leftbar-action desktop waves-effect"><i class="fa fa-bars "></i></span>
                            </div>
                            <div class="right">
                                <div class="user-nav">
                                    <ul>

                                        <li class="dropdown-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <a data-toggle="dropdown" href="#" class="clearfix dropdown-toggle waves-effect waves-block waves-classic text-right">
                                                <span class="user-info">Ahmet Mehmet<cite>ahmet@gmail.com</cite></span>
                                                <span class="user-thumb"><img src="~/images/avatar/doge-1-584.jpg" alt="image"></span>
                                            </a>
                                            <ul role="menu" class="dropdown-menu">
                                                <li>
                                                    <a asp-action="Index" asp-controller="User" class="user-nav-label fa fa-cogs">Hesabım</a>
                                                </li>
                                                <li>
                                                    <a asp-action="UserExit" asp-controller="User" class="user-nav-label fa fa-cogs">Çıkış</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            @RenderBody()
            <footer class="footer-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="footer-left">
                                <span>&copy; 2021 <a href="https://www.konyaalti.bel.tr/">Konyaaltı Belediyesi</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>
@await Html.PartialAsync("_PanelLayoutJsPartial")
<!-- Mirrored from www.lab.westilian.com/matmix-admin/list-view/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Jul 2021 11:25:39 GMT -->
</html>



