
@{ Layout = "~/Views/Shared/_MyLayout.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box-widget widget-module">
            <div class="form-group text-center">
                <label for="exampleFormControlTextarea1">(Notu databaseden çekip düzenlettir)</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary">Ekle</button>
            </div>

        </div>
    </div>
</div>