
@{ Layout = "~/Views/Shared/_MyLayout.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box-widget widget-module">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Not</th>
                        <th scope="col">Eylem</th>
                    </tr>
                </thead>

                <tr>
                    <td class="text-primary">Kodları Düzenle </td>
                    <td>
                        <button type="button" class="btn btn-primary">Düzenle</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-success">Çarşıya Git</td>
                    <td>
                        <button type="button" class="btn btn-primary">Düzenle</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-danger">Diş Macunu al </td>
                    <td>
                        <button type="button" class="btn btn-primary">Düzenle</button>
                    </td>
                </tr>
            </table>
            <a asp-action="Add" asp-controller="ToDoList" class="btn btn-info btn-sm my-2">Ekle</a>
        </div>
    </div>
</div>
