
@{ Layout = "~/Views/Shared/_MyLayout.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box-widget widget-module">
            <div class="card-block text-center">
                <h4 class="card-title">Notlarım</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Bla bla bla</li>
                <li class="list-group-item list-group-item-secondary">Bla bla bla</li>
                <li class="list-group-item list-group-item-success">Bla bla bla</li>
                <li class="list-group-item list-group-item-danger">Bla bla bla</li>
                <li class="list-group-item list-group-item-warning">Bla bla bla</li>
                <li class="list-group-item list-group-item-info">Bla bla bla</li>
            </ul>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary">Düzenle</button>
            </div>

        </div>
    </div>
</div>