@{ Layout = "~/Views/Shared/_MyLayout.cshtml"; }

<div class="col-md-7">
    <div class="col-md-12">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                <span class="h-icon"><i class="bi bi-sun"></i></span>
                <h4>Duyurular:
                -Bla bla bla
                
                -Bla bla bla</h4>
            </div>
        </div>
    </div>
</div>