@{ Layout = "~/Views/Shared/_MyLayout.cshtml"; }

<!doctype html>

    <div class="row">
        <div class="col-md-5">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-tasks"></i></span>
                    <h4>Yapılacaklar</h4>
                    <ul class="widget-action-bar pull-right">
                        <li>
                            <span class="waves-effect w-reload"><i class="fa fa-spinner"></i></span>
                        </li>
                        <li>
                            <span class="widget-remove waves-effect w-remove"><i class="ico-cross"></i></span>
                        </li>
                    </ul>
                </div>
                <div class="widget-container">
                    <div class="todo-list">
                        <div class="todo-list-item">
                            <div class="todo-list-action">
                                <input type="checkbox" name="todo-select" class="todo-select">
                            </div>
                            <div class="todo-list-details">
                                <div class="todo-intro">
                                    <h4>... Belgesini Gönder     </h4>
                                    <div class="todo-date">
                                        <label class="label label-info"> Yeni</label>
                                        <label class="label label-warning"> Önemli</label>
                                        <div class="todo-due-date">
                                            <i class="fa fa-clock-o"></i>Tarih: 26 Temmuz 12:00 PM
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="todo-list-item">
                            <div class="todo-list-action">
                                <input type="checkbox" name="todo-select" class="todo-select">
                            </div>
                            <div class="todo-list-details">
                                <div class="todo-intro">
                                    <h4>... İle iletişime geç </h4>
                                    <div class="todo-date">
                                        <div class="todo-due-date">
                                            <i class="fa fa-clock-o"></i>Tarih: 15 Haziran 13:00 PM
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="todo-list-item">
                            <div class="todo-list-action">
                                <input type="checkbox" name="todo-select" class="todo-select">
                            </div>
                            <div class="todo-list-details">
                                <div class="todo-intro">
                                    <h4>Veritabanı hatalarını düzenle </h4>
                                    <div class="todo-date">
                                        <div class="todo-due-date">
                                            <i class="fa fa-clock-o"></i>Tarih: 13 Haziran 14:30 PM
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
